<%# Replace feedback buttons with "Rejected" state %>
<%= turbo_stream.replace dom_id(@transaction, "ai_feedback") do %>
  <span id="<%= dom_id(@transaction, "ai_feedback") %>" class="inline-flex items-center gap-1 text-xs text-destructive">
    <%= icon "x-circle", size: "xs", color: "destructive" %>
    <span class="hidden sm:inline"><%= t("transactions.feedback_rejected") %></span>
  </span>
<% end %>

<%# Update category menu to show uncategorized %>
<%= turbo_stream.replace "#{dom_id(@transaction, "category_menu")}_desktop" do %>
  <%= render "transactions/transaction_category", transaction: @transaction.reload, id_suffix: "desktop" %>
<% end %>

<%= turbo_stream.replace "#{dom_id(@transaction, "category_menu")}_mobile" do %>
  <%= render "transactions/transaction_category", transaction: @transaction.reload, id_suffix: "mobile" %>
<% end %>
