<%# locals: (transaction:, id_suffix: nil) %>

<% menu_id = id_suffix.present? ? "#{dom_id(transaction, "category_menu")}_#{id_suffix}" : dom_id(transaction, "category_menu") %>

<div id="<%= menu_id %>" class="flex items-center gap-1">
  <% if transaction.transfer&.categorizable? || transaction.transfer.nil? %>
    <%= render "categories/menu", transaction: transaction %>
  <% else %>
    <div class="hidden lg:flex">
      <%= render "categories/badge", category: transaction.transfer&.payment? ? payment_category :  transfer_category %>
    </div>
    <div class="flex lg:hidden">
      <%= render "categories/badge_mobile", category: transaction.transfer&.payment? ? payment_category :  transfer_category %>
    </div>
  <% end %>

  <%= render "transactions/confidence_badge", transaction: transaction %>
</div>
